.unfocused-email-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 0.5px solid rgb(207, 209, 209);
    border-bottom: 0.5px solid rgb(207, 209, 209);
}

.unfocused-email-container:hover {
    cursor: pointer;
    border-left: 0.5px solid rgb(207, 209, 209);
    border-right: 0.5px solid rgb(207, 209, 209);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.unfocused-email-contents-container {
    height: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.unfocused-email-sender-name-container {
    width: 168px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: small;
    font-weight: 600;
}

.unfocused-email-subject-and-snippet-container {
    width: 792px;
    display: flex;
    flex-direction: row;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.unfocused-email-subject-container {
    font-size: small;
    font-weight: 600;
}

.unfocused-email-snippet-container {
    font-size: small;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.unfocused-email-time-or-date-container {
    width: 50px;
    font-size: small;
    font-weight: 600;
}